*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #D0BDA6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}

/* offset for the top menu*/
main > div.container{
    margin-top: 56px;
}

@media (min-width: 576px) {
    main > div.container{
        margin-top: 56px;
    }
}

@media (min-width: 768px) {
    main > div.container{
        margin-top: 56px;
    }
}

@media (min-width: 992px) {
    main > div.container{
        margin-top: 100px;
    }
}

@media (min-width: 1200px) {
    main > div.container{
        margin-top: 100px;
    }
}

/*product block*/
.productblock{
    background:#F2552C;
    width:200px;
    padding:0.2em;
    margin-bottom: 1em;
}

.productblock > .img-thumbnail{
    padding:0;
    border:none;
}

.productblock p {
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**/
.kleineMargin{
    color:black;
    margin: 10px;

}

nav div ul{
    width: 100% ;
}

nav div ul li a{
    color:black;
    font-weight:normal;
}

nav a.paginatitel{
    color:black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight:bold;
}


nav{
    background-color: #F4512C;

}

nav img{
    position:relative;
    margin:-8px;
    padding:5px;
    right:8px;
}


nav form button{
    background-color:white;
    border-color: white;
    color:black;
}

.submenu{
    width:100%;
    background-color: #F9CB9C;
    padding:10px;
    position:fixed;
    top:56px;
    z-index:10;
}

.veilingsPaginaImage{
   width:552px;
    height:750px;
    margin-bottom:20px;
}

.timerText{

}

.verkoperSection{
    border-radius:20px;
    padding: 20px;
    background-color:white;
    margin-bottom:100px;
}

.verkoperSection h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

.biedingenSection{
    border-radius:20px;
    padding: 20px;
    background-color:white;
}

.biedingenSection h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

.biedingenSection ul{
    list-style-type:none;
}
.biedingenSection ul li{
font-size:0.9rem;
    margin-top:5px;
    
}