*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #D0BDA6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}


/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Menu & submenu||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
nav div ul{
    width: 100% ;
}

nav div ul li a{
    color:black;
    font-weight:normal;
}

nav div ul li a:hover{
    color:white;
}

nav a.paginatitel{
    color:black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight:bold;
}

nav.beheeromgeving{
    background-color: White;
}

nav{
    background-color: #F4512C;
}

nav img{
    position:relative;
    margin:-8px;
    right:8px;
    max-width: 200px;
    max-height: 56px;
    width: auto;
}

nav form button{
    background-color:white;
    border-color: white;
    color:black;
}


.submenu{
    width:100%;
    background-color: #F9CB9C;
    padding:10px;
    position:fixed;
    top:56px;
    z-index:10;
}
.hoofd-rubriek  {
    color: #252525;
}

.sub-nav a{
    color: #252525;
}

.sub-nav :hover{
    color: #252525;
    font-weight: bolder;
    text-decoration: none;
    }

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||| side nav bar |||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.categorie-content{
     display:flex;
    flex-wrap: nowrap;
}
.main-content{
     margin: 100px auto auto 200px;
     padding: 3px;
}
.sidebar{
    color:#ffffff;
    list-style-type: none;
}
.sidebar :hover{
    color:#ffffff;
    list-style-type: none;
    font-weight: bolder;
}
.sidebar a {
    color:#ffffff;
    list-style-type: none;
    text-decoration:none;
}
.sidebar a :hover{
    color:#ffffff;
    list-style-type: none;
    text-decoration:none;
    padding-left: 10px;
}
.list {
    padding-left: 10px;
}
/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Menu @media|||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
@media (max-width: 767px) {
    nav div ul li:first-child {
        margin-top: 1em;
    }
}

/* offset for the top menu*/
main > div.container{
    margin-top: 62px;
}

@media (min-width: 576px) {
    main > div.container{
        margin-top: 62px;
    }
}

@media (min-width: 768px) {
    main > div.container{
        margin-top: 62px;
    }
}

@media (min-width: 992px) {
    main > div.container{
        margin-top: 62px;
    }
}

@media (min-width: 1200px) {
    main > div.container{
        margin-top: 62px;
    }
}
/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
||||||||||||||||||||||||||||||||||||UserProfileBlock|||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.user-section{
    padding-bottom:10%; padding-top: 10%;
    border-radius:20px;
    height:100%;
    background-color:white;
    margin:auto;
}

.user-section p{
    margin: 1rem;
}



.user-section-button-margin{
    margin:1rem;
}

.hyperlinklijst{
    list-style-type: none;
}

.hyperlinklijst li{
    margin-bottom:2rem;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Product block|||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.productblock{
    background:#F2552C;
    width:200px;
    padding:0.2em;
    margin-bottom: 1em;
    margin-right: 22px;
}

.productblock > .hardcoded-thumbnail,
.productblock  .img-thumbnail{
    padding:0;
    border:none;
    max-height: 200px;
}
.productblock  div:first-child{
    height:200px;
}

.hardcoded-thumbnail{
    width:190px;
    height:190px;
}

.productblock p {
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productblock-large{
    max-height: 100px;
}
.productblock-large  img{
    max-height: 100px;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Verkoper block||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.grey-background-bar{
    background-color:grey;
}

.white-background-bar{
    background-color:white;
}

.verkoperSection{
    border-radius:20px;
    padding: 20px;
    background-color:white;
}

.verkoperSection h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

.feedbackBlock p {
    margin:0;
    padding:0;
}

.feedbackBlock p.eindeFeedback{
    margin-bottom:1rem;
}

.feedbackBlockBorder{
    z-index:8;
    border:2px solid black;
    margin-right:2%;
    margin-left:-2%;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Auction section|||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.auction-section{
    border-radius:20px;
    padding: 20px;
    background-color:white;
}

.auction-section h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

.auction-page-image{
    width:552px;
    height:750px;
    margin-bottom:20px;
}

.auction-section ul{
    list-style-type:none;
    padding-left:0px;
}
.auction-section ul li{
font-size:0.9rem;
    margin-top:5px;
}

.search-filters{
    background: #F2552C;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||| Login en registreer formulier||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.verkoopaanvraag-section,
.login-section,
.register-section{
    padding:5%;
    border-radius:20px;
    height:100%;
    background-color:white;
}
.verkoopaanvraag-section,
.login-section{
    max-width: 550px;
    margin: auto;
}
.verkoopaanvraag-section,
.login-section button,
.register-section button{
    margin-top:1rem;
}
.verkoopaanvraag-section,
.bottom-login-register-form{
    margin-top:1rem;
}

form p {
    margin-top:10px;
    margin-bottom:0px;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| Images||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.gebruikeresImage{
    width:12%;
    height:20%;
    margin-bottom:20px;
}

.product-image{
    max-height: 350px;
}

.border-auction-preview{
    z-index:8;
    border:2px solid #F4512C;
    border-radius:10px;
    padding: 0% -5%;
    margin:5% 0%;

}
img.auction-thumbnail{
    max-width: 200px;
    max-height: 200px;
}
img.miniature {
    max-height: 50px;
    max-width: 50px;
    margin: 0 10px;
}

#map{
    width:290px;
    height:290px;
    position: relative;
    overflow: hidden;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| input ||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.btn.btn-primary{
    background:#f2552c;
}

option,
input{
    width:100%;
    max-width: 100%;
}

input:-moz-read-only,
input:read-only {
    color: black;
    padding: 2px;
    margin: 0 0 0 0;
    background-color: black;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| generic ||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.error-message{
    color:#F4512C;
}

margin-top{
    margin-top: 1rem;
}

padding-top{
    padding-top: 1rem;
}
.margin-top{
    margin-top: 1rem;
}

.margin-bottom{
    margin-bottom: 1rem;
}
.center{margin:auto;}

.hide{
    display:none;
}

.no-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-box{
    height:600px;
}

.img-fluid{
    max-height: 100%;
}

a.hidden-link{
    text-decoration: none;
    color:inherit;
}

.white-text{
    color:white;
}

.no-margin{
    margin:0;
}

.black-text{
    color:black;
}
.sub-categorie{
    padding-left:15px;
}

.no-padding{
    padding:0;
}

cursor-pointer:hover {
    cursor: pointer;
}

div.noscript{
    position: absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:auto;
    background:#f2552c;
    color:white;
    z-index: 1031;
    text-align: center;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| footer ||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
footer.container.rubriekfooter{
margin-left: 200px;
}

.container{
    background-color: white;
}

.seperator-none{
    border:none;
}
.seperator-left{
    border-left:2px solid #f2552C;
}
.seperator-right{
    border-right:2px solid #f2552C;
}
.seperator-top{
    border-top:2px solid #f2552C;
}
.seperator-bottom{
    border-bottom:2px solid #f2552C;
}

@media (min-width: 576px) {
    .seperator-none-sm{
        border:none;
    }
    .seperator-left-sm{
        border-left:2px solid #f2552C;
    }
    .seperator-right-sm{
        border-right:2px solid #f2552C;
    }
    .seperator-top-sm{
        border-top:2px solid #f2552C;
    }
    .seperator-bottom-sm{
        border-bottom:2px solid #f2552C;
    }
}

@media (min-width: 768px) {
    .seperator-none-md{
        border:none;
    }
    .seperator-left-md{
        border-left:2px solid #f2552C;
    }
    .seperator-right-md{
        border-right:2px solid #f2552C;
    }
    .seperator-top-md{
        border-top:2px solid #f2552C;
    }
    .seperator-bottom-md{
        border-bottom:2px solid #f2552C;
    }
}

@media (min-width: 992px) {
    .seperator-none-lg{
        border:none;
    }
    .seperator-left-lg{
        border-left:2px solid #f2552C;
    }
    .seperator-right-lg{
        border-right:2px solid #f2552C;
    }
    .seperator-top-lg{
        border-top:2px solid #f2552C;
    }
    .seperator-bottom-lg{
        border-bottom:2px solid #f2552C;
    }
}

@media (min-width: 1200px) {
    .seperator-none-xl{
        border:none;
    }
    .seperator-left-xl{
        border-left:2px solid #f2552C;
    }
    .seperator-right-xl{
        border-right:2px solid #f2552C;
    }
    .seperator-top-xl{
        border-top:2px solid #f2552C;
    }
    .seperator-bottom-xl{
        border-bottom:2px solid #f2552C;
    }
}

.seperator-left,
.seperator-right,
.seperator-top,
.seperator-bottom,
.seperator-none,
.seperator-left-sm,
.seperator-right-sm,
.seperator-top-sm,
.seperator-bottom-sm,
.seperator-none-sm,
.seperator-left-md,
.seperator-right-md,
.seperator-top-md,
.seperator-bottom-md,
.seperator-none-md,
.seperator-left-lg,
.seperator-right-lg,
.seperator-top-lg,
.seperator-bottom-lg,
.seperator-none-lg,
.seperator-left-xl,
.seperator-right-xl,
.seperator-top-xl,
.seperator-bottom-xl,
.seperator-none-xl
{
    border-radius: 0
}

