*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #D0BDA6;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}


/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Menu & submenu||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
nav{background-color: #F4512C;}
nav img{position:relative;margin:-8px;right:8px;max-width: 200px;max-height: 56px;width: auto;}
nav form button{background-color:white;border-color: white;color:black;}
nav div ul{width: 100%;}
nav div ul li a{color:black;font-weight:normal;}
nav div ul li a:hover{color:white;}
.submenu{width:100%;background-color: #F9CB9C;padding:10px;position:fixed;top:56px;z-index:10;}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Menu @media|||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
@media (max-width: 767px) {nav div ul li:first-child {margin-top: 1em;}}
/* offset for the top menu*/
main > div.container{margin-top: 62px;}
@media (min-width: 576px) {main > div.container{margin-top: 62px;}}
@media (min-width: 768px) {main > div.container{margin-top: 62px;}}
@media (min-width: 992px) {main > div.container{margin-top: 108px;}}
@media (min-width: 1200px) {main > div.container{margin-top: 108px;}}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Product block|||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.productblock{
    background:#F2552C;
    width:200px;
    padding:0.2em;
    margin-bottom: 1em;
}

.productblock > .img-thumbnail{
    padding:0;
    border:none;
}

.productblock p {
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Verkoper block||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/

.verkoperSection{
    border-radius:20px;
    padding: 20px;
    background-color:white;
}

.verkoperSection h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||Auction section|||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.auction-section{
    border-radius:20px;
    padding: 20px;
    background-color:white;
}

.auction-section h4{
    color:#F4512C;
    margin-bottom:1.5rem;
}

.auction-page-image{
    margin-bottom:20px;
}

.auction-section ul{
    list-style-type:none;
}
.auction-section ul li{
font-size:0.9rem;
    margin-top:5px;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||| Login en registreer formulier||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/
.login-register-section{
    padding:5%;
    border-radius:20px;
    height:100%;
    margin-top: 20%;
    background-color:white;
}

.login-register-section button{
    margin-top:1rem;
}
.bottom-login-register-form{
    margin-top:1rem;
}

form p {
    margin-top:10px;
    margin-bottom:0px;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| Images||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/


.user-image{
    width:300px;

}

.border-auction-preview{
    z-index:8;
    border:2px solid #F4512C;
    border-radius:10px;
    padding: 0% -5%;
    margin:5% 0%;
}

/* ======================================================================================
////////////////////////////////////////////\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||| Balken||||||||||||||||||||||||||||||||||||||||||
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\/////////////////////////////////////////////
 =======================================================================================*/

.grey-background-bar{
    background-color:lightsalmon;

}

.white-background-bar{
    background-color:white;
}

.margin-top-50{
    margin-top:50px;
}

.margin-bottom-50{
    margin-bottom:50px;
}