*{
    font-family: 'Nanum Gothic', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
}

/* offset for the top menu*/
main > div.container{
    margin-top: 56px;
}

@media (min-width: 576px) {
    main > div.container{
        margin-top: 56px;
    }
}

@media (min-width: 768px) {
    main > div.container{
        margin-top: 70px;
    }

}

@media (min-width: 992px) {
    main > div.container{
        margin-top: 56px;
    }
}

@media (min-width: 1200px) {
    main > div.container{
        margin-top: 56px;
    }
}

.kleineMargin{
    margin: 10px;

}

nav div ul{
    width: 100% ;
}

nav div ul li a{
    color:black;
    font-weight:normal;
}

nav a.paginatitel{
    color:black;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight:bold;
}


nav{
    background-color: #F4512C ;
}


nav form button{
    background-color:white;
    border-color: white;
    color:black;
}

.submenu{
    width:100%;
    background-color: #F9CB9C;
    padding:10px;
    position:fixed;
    top:56px;
}